*.a
*.o
test/test
*.bmp
*.wav
src/ext_libs_src
voice
src/plugins/layerExSave/vs2005
src/plugins/layerExSave/vs2010
src/plugins/layerExSave/vs2012
src/plugins/layerExSave/vs2008
*.map
src/plugins/KAGParser/vcproj
src/plugins/KAGParser/build
src/plugins/ncbind/build
*.vcproj
*.vcxproj
*.filters
*.sln
*.dblite
src/sdl/test
Makefile2
repos
クレージュエース
data1
krkr
unpack
font
data
*.pyc
*.xp3
*.pdb
*.tlog
*.opensdf
build/vs2012/tjs2/tjs2.sdf
*.obj
*.log
*.lastbuildstate
*.idb
*.lib
thirdparty/zlib-1.2.11/
*.gz
*.exe
*.exp
*.ilk
*.dll
*.ksd
savecheck
src/objects/tween
src/plugins/layerExMovie
